.hero{
    background: linear-gradient(rgba(255, 255, 255, 0.842), rgba(255, 255, 255, 0.692)), url('../logo/sdgr.png');
}

.btn{
    border: 1px solid orange;
    background-color: inherit;
    color: black;
}

.btn:hover{
    background-color: orangered;
}